* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: rgb(177, 156, 128);
    color: brown;
    display: flex;
    text-align: center;
    justify-content: space-between;
    /* align-items: end; */
}

/* .container{
padding: 30px;
margin: 50px;
} */


